.video__comments {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .video__comment {
    background-color: $bg;
    padding: 5px;

    .comment__owner,
    .comment__time {
      color: gray;
      font-size: 10px;
    }
  }
}
