extends base.pug

block content 
    h4 Upload new video
    form(method="POST")
        input(placeholder="title" name="title" required)
        input(placeholder="description" name="description" required)
        input(placeholder="hashtags" name="hashtags" required)
        input(value="Upload" type="submit")